<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timesheet</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
  <div class="container">
    <div class="mt-5 d-flex justify-content-between">
      <h1>
        Timesheet <span id="selected-year"><%= selectedYear %></span>
      </h1>

      <div class="d-flex gap-1 h-25">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addItem" aria-expanded="false" aria-controls="addItem">
          Add&nbsp;item
        </button>

        <!-- Sélection de l'année -->
        <select id="year-select" class="form-select">
          <% yearsAvailable.forEach(year=> { %>
            <option value="<%= year %>" <%= year==selectedYear ? 'selected' : '' %>><%= year %></option>
          <% }) %>
        </select>
      </div>
    </div>
    
    <!-- Formulaire pour ajouter une ligne -->
    <div class="collapse" id="addItem">
      <div class="card card-body">
        <form action="/add-line/<%= selectedYear %>" method="POST">
          <div class="d-flex justify-content-between gap-3">
            <div class="w-100">
              <div class="mb-3">
                <label for="day" class="form-label">Day</label>
                <input type="date" class="form-control" id="day" name="day" required>
              </div>
              <div class="mb-3">
                <label for="start" class="form-label">Start</label>
                <input type="time" class="form-control" id="start" name="start" required>
              </div>
              <div class="mb-3">
                <label for="end" class="form-label">End</label>
                <input type="time" class="form-control" id="end" name="end" required>
              </div>
            </div>
            <div class="w-100">
              <div class="mb-3">
                <label for="ticket" class="form-label">Ticket</label>
                <input type="text" class="form-control" id="ticket" name="ticket">
              </div>
              <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <select class="form-select" id="state" name="state" required>
                  <option value="Search">Search</option>
                  <option value="Development">Development</option>
                  <option value="Test">Test</option>
                  <option value="Deployment">Deployment</option>
                  <option value="Estimate">Estimate</option>
                  <option value="Vacation">Vacation</option>
                  <option value="School">School</option>
                  <option value="Holiday">Holiday</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="project" class="form-label">Project</label>
                <input type="text" class="form-control" id="project" name="project">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
              </div>
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="uploaded" name="uploaded">
                  <label class="form-check-label" for="uploaded">Uploaded</label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add Line</button>
        </form>
      </div>
    </div>

    <h2 class="mt-3">Timesheet Entries</h2>
    <table class="table mt-3">
      <thead class="sticky-top table-dark">
        <tr>
          <th>Day</th>
          <th>Start - End</th>
          <th>Total</th>
          <th>Ticket</th>
          <th>State</th>
          <th>Description</th>
          <th>Project</th>
          <th>Uploaded</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% let previousDay = null; %>
        <% timesheetData.forEach((entry, index)=> { %>
          <% let isNewDay = previousDay !== entry.day; %>
          <tr
            class="
              <%= entry.state === 'Vacation' ? 'table-secondary' : '' %>
              <%= entry.state === 'Holiday' ? 'table-secondary' : '' %>
              <%= entry.state === 'School' ? 'table-info' : '' %>
              "
            style="<%= isNewDay ? 'border-top: solid 2px black' : '' %>"
          >
            <td class="border-end">
              <%= entry.day %>
            </td>
            <td>
              <%= entry.start %> -
              <%= entry.end %>
            </td>
            <td class="border-end">
              <%= entry.total %>
            </td>
            <td>
              <%= entry.ticket %>
            </td>
            <td>
              <%= entry.state %>
            </td>
            <td style="width: 400px;">
              <%= entry.description %>
            </td>
            <td class="border-end">
              <%= entry.project %>
            </td>
            <td class="<%= entry.uploaded ? 'table-success' : '' %> border-end">
              <%= entry.uploaded ? 'Yes' : 'No' %>
            </td>
            <td>
              <!-- Ajouter des boutons Modifier et Supprimer -->
              <a href="/duplicate-line/<%= selectedYear %>/<%= index %>" class="btn btn-primary btn-sm"><i class="bi bi-copy"></i></a>
              <a href="/edit-line/<%= selectedYear %>/<%= index %>" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i></a>
              <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('/delete-line/<%= selectedYear %>/<%= index %>')"><i class="bi bi-trash-fill"></i></a>
            </td>
          </tr>
          <% previousDay = entry.day; %>
        <% }) %>
      </tbody>
    </table>
  </div>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('year-select').addEventListener('change', function () {
      const selectedYear = this.value;
      window.location.href = `/${selectedYear}`; // Recharge la page avec la nouvelle année
    });

    function confirmDelete(url) {
      if (window.confirm("Êtes-vous sûr de vouloir supprimer cet élément ?")) {
        window.location.href = url; // Redirige vers le lien de suppression
      }
    }
  </script>
</body>

</html>